
/* -- Skill Icons -- */

#IconsDiv {
  position:absolute;
  top:3.65vw;
  left:2.1vw;
}
.SkillIcon {
  position: absolute;
}
#Python {
  height:5.2vw; 
  width:5.2vw;
}
#Numpy {
  height:5.2vw; 
  width:5.2vw; 
  left:8.4vw;
}
#NeuralNetwork {
  height:6vw; 
  width:6vw; 
  left:16.5vw;
  top: -0.6vw;
}
#CompVision {
  height:8vw; 
  width:8vw; 
  top:-1.7vw; 
  left:23.5vw;
}



/* -- Background Boxes -- */

#SkillsBackground {
  position:absolute;
  height:10.4vw; 
  width:60vw; 
  top:12.4vw; 
  left:43.75vw;
}

#SummaryBackground {
  position:absolute;
  height:13.1vw; 
  width:60vw; 
  top:24.25vw; 
  left:43.75vw;
}


/* -- Github Button Location -- */

.meta-link {
  left: 84vw;
  top: 38.15vw;
}


